---
interface Props {
	
    svg: string;
}

const { svg } = Astro.props;

---

<!-- stack  -->
<section class="py-10 px-[16px] container mx-auto max-w-[1000px]">
    <h2 class="text-3xl font-bold mb-10">My stack</h2>
    <div class="grid grid-cols-4 md:grid-cols-4 lg:grid-cols-7 gap-10 md:place-items-center">


        <div class="w-[60px]">
            {svg}
        </div>

        <div class="w-[60px]">
            {svg}
        </div>

        <div class="w-[60px]">
            {svg}
        </div>

        <div class="w-[60px]">
            {svg}
        </div>

        <div class="w-[60px]">
            {svg}
        </div>

        <div class="w-[60px]">
            {svg}
        </div>

        <div class="w-[60px]">
            {svg}
        </div>

</section>
<!-- /stack  -->